[submodule "external/busterjs/reports"]
	path = external/busterjs/reports
	url = git://github.com/rosenfeld/buster-test.git
[submodule "external/busterjs/assertions"]
	path = external/busterjs/assertions
	url = git://github.com/busterjs/buster-assertions.git
[submodule "external/busterjs/core"]
	path = external/busterjs/core
	url = git://github.com/busterjs/buster-core.git
[submodule "external/busterjs/format"]
	path = external/busterjs/format
	url = git://github.com/busterjs/buster-format.git
