<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>OOJSpec Test Runner</title>

  <%= javascript_include_tag sandbox_assets_engine.oojspec_static_path + '/oojspec/iframe-runner.js' %>
  <%= javascript_tag "oojspec.exposeAll()" unless Rails.configuration.sandbox_assets.options[:skip_oojspec_expose] %>

  <% @stylesheets.each do |css| -%>
    <%= stylesheet_link_tag css %>
  <% end -%>

  <%= javascript_include_tag @tests.first %>

</head>
<body>
</body>
</html>
